@use '../function/link';

.p-about {
    width: 100%;
}

.about-me {
    margin: 0 0 var(--spacing-4);
}

.sns {
    margin: 0 0 var(--spacing-4);
    &__list {
        width: auto;
    }
    &__item {
        width: auto;
        display: flex;
    }
    &__name {
        margin: 0 0.7rem 0 0;
    }
    &__link {
        color: var(--color-link);
        @include link.hover-link();
    }
}
