.p-index {
    width: 100%;
    margin: 0 auto;
}

.p-posts {
    width: 100%;
    max-width: calc(var(--content-max-width) * 0.93); // 700: 650
    margin: 0 auto;

    &__sec-title {
        font-size: var(--font-size-h2);
    }
}
