.post {
    width: 100%;
    margin: 0 auto;

    &__header {
        width: 100%;
        max-width: var(--content-max-width);
        margin: 0 auto;
    }

    &__body {
        width: 100%;
        max-width: var(--content-max-width);
        margin: 0 auto;
    }
}
