.post {
    width: 100%;
    margin: 0 auto;

    &__header {
        width: 100%;
        margin: 0 0 var(--spacing-3);
    }

    &__title {
        font-size: var(--font-size-h1);
        font-weight: bold;
    }
    &__date {
        color: var(--color-light-gray);
    }

    &__body {
        width: 100%;
    }
}
