.footer {
    width: 100%;
    margin: var(--spacing-5) 0 0;

    &__inner {
        width: 100%;
        max-width: var(--content-max-width);
        margin: 0 auto;
        padding: var(--spacing-3) var(--grid-margin);
    }

    &__body {
        width: 100%;
    }

    &__cr {
        text-align: center;
        // color: var(--color-white);
    }
}
