@use '../../function/link';

.header {
    width: 100%;

    &__inner {
        width: 100%;
        max-width: var(--content-max-width);
        margin: 0 auto var(--spacing-5);
        padding: var(--spacing-4) var(--grid-margin);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @include mq-mobile {
            margin: 0 auto var(--spacing-3);
        }
    }
    &__aside {
        width: auto;
    }
    &__title {
        width: auto;
    }
    &__title-link {
        font-size: 2rem;
        font-weight: normal;

        @include mq-mobile {
            font-size: 1.8rem;
        }
    }
    &__nav {
        width: auto;

        @include mq-mobile {
            margin: 0 0 0 auto;
        }
    }
    &__link-list {
        display: grid;
        grid-template-rows: repeat(1, auto);
        grid-template-columns: repeat(3, auto);
        gap: var(--spacing-2);
        margin: 0px;

        @include mq-mobile {
            gap: var(--spacing-1);
        }
    }
    &__link-item {
        position: relative;
    }
    &__link {
        font-size: 1.6rem;
        padding: 0.5rem;

        @include link.hover-link();

        @include mq-mobile {
            font-size: 1.8rem;
        }
    }
}
