.posts {
    width: 100%;
    max-width: calc(var(--content-max-width) * 0.93); // 700: 650
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    gap: var(--spacing-3);
}
