@use '../../function/link';

.post-card {
    width: 100%;

    &__date {
        font-size: 1.2rem;
        color: var(--color-light-gray);
    }
    &__link {
        width: 100%;
        display: block;
    }
    &__title {
        display: inline-block;
        font-size: var(--font-size-h3);
        font-weight: normal;

        @include link.hover-link();
    }
}
