.l-default {
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--color-white);
}

.main {
    width: 100%;
    max-width: var(--content-max-width);
    padding: 0 var(--grid-margin);
    margin: 0 auto;
}
